body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    display: inline-block;
    text-align: center;
    margin: 50px;
  }

  .image-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
  }

  .image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .title {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .circle-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circle-image img {
    width: 100%;
    height: auto;
  }
  
